<div class="row">
  <!-- [ Typography ] start -->
  <div class="col-sm-12">
    <table class="table table-striped">
      <thead>
          <tr>
            <th>Caller Name</th>
            <th>Phone Number</th>
            <th>Emergency Type</th>
            <th>Location</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emergency of emergencies">
          <td>{{emergency.callerName}}</td>
          <td>{{emergency.phoneNumber}}</td>
          <td>{{emergency.emergencyType}}</td>
          <td>{{emergency.location}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
